.loading-animation-box {
  background: "linear-gradient(45deg, #9013FE 15%, #50E3C2 90%)";
  min-width: "100%";
  min-height: "100vh";
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
}

.unselectable-element {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
